{% include 'word.html.j2' %}

<div id="guess_form" class="guess_form" hx-swap-oob="true" hx-target=" #game" hx-get="/new_game" >
    <div style="background-color: #00ADB5;">
        Play again
    </div>
</div>
