<div>
    {% for i in range(5)%}

    <div class="letter" style="background-color: {{colors[i]}}; animation: fadein {{0.2 * (i+1)}}s;">
        {{ letters[i] }}
    </div>

    {% endfor %}
</div>

<div hx-swap-oob="innerHTML" id="flavor_text">
    <p>{{ flavor_text }}</p>
</div>
