<div>
    {% for i in range(5)%}

    <div class="letter" style="background-color: {{colors[i]}}; animation: fadein {{0.2 * (i+1)}}s;">
        {{ letters[i] }}
    </div>

    {% endfor %}
</div>

<div hx-swap-oob="innerHTML" id="flavor_text">
    {% if dumbass %}
    <img src="https://piagetintheclassroom.files.wordpress.com/2013/12/image007.gif" alt="image">
    {% endif %}
    <p>{{ flavor_text }}</p>
</div>